* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

:root{
  --body-color: #efefef;
  --bg-color: #fff;
  --nav-color: #fff;
  --border: #ccc;
  --border2: rgb(215, 215, 215);
  --search-box: #e9e9e9;
  --arrow-container: #e3e1e1;
  --story-text: #000;
}

.dark-theme{
  --body-color: #000;
  --bg-color: #000;
  --nav-color: rgb(22, 22, 22);
  --border: #626262;
  --border2: rgb(70, 70, 70);
  --search-box: rgb(20, 20, 20);
  --arrow-container: #626262;
  --story-text: #fff;
}

body {
  background: var(--body-color);
  transition: background 0.3s;
}

nav {
  width: 100%;
  background: var(--nav-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  position: fixed;
  z-index: 300;
}

.logo {
  width: 30px;
  margin-right: 10px;
}
.search-box {
  background: #e9e9e9;
  width: 200px;
  display: flex;
  border-radius: 20px;
  align-items: center;
  padding: 0 15px;
  margin-right: 45px;
}

.search-box img {
  width: 12px;
}

.search-box input {
  width: 100%;
  background: transparent;
  outline: none;
  padding: 10px;
  border: 0;
}

.nav-left,
.nav-center,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-left {flex-basis: 12%;}
.nav-right {flex-basis: 12%;}
.nav-center {flex-basis: 50%;}


.nav-center, ul li {
  list-style: none;
  display: inline-block;
  padding: 0 4px;
  justify-content: center;
  align-items: center;
}

.nav-center ul li img {
  width: 28px;
  margin-right: 100px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-right,
ul li {
  list-style: none;
  display: flexbox;
  justify-content:flex-end;
}

.nav-right ul li img {
  width: 18px;
  cursor: pointer;
}
.nav-right ul li .black-messenger{width: 16px;}

.nav-right-img-container{
    background: #e3e1e1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.notifications {
  position: relative;
}

.notifications::after {
  content: "12";
  background: rgb(224, 3, 3);
  color: #fff;
  width: 13px;
  height: 11px;
  /* border: 1px solid rgb(224, 3, 3); */
  border-radius: 50%;
  position: absolute;
  top: -3px;
  right: 0px;
  font-size: 9px;
  font-weight: bold;
  text-align: center;
  padding: 2px;
}

.nav-profile-pic img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-left: 12px;
  cursor: pointer;
}

.online {
  position: relative;
}

.online::after {
  content: "";
  background: #41db51;
  width: 7px;
  height: 7px;
  border: 1.5px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 15px 5%;
}

.left-sidebar {
  width: 15%;
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
  top: 10px;
  left: 90px;
  margin-top: 70px;
  position: fixed;
  /* align-self: flex-start; */
  padding: 0;
}

.right-sidebar {
  display: flex;
  flex-direction: column;
  width: 15%;
  top: 10px;
  right: 90px;
  margin-top: 70px;
  flex-basis: 20%;
  position: fixed;
}

.main-content{
  flex-basis: 40%;
  margin-left: 25%;
  margin-top: 60px;
}

.imp-links a,
.shortcut-links a{
  display: flex;
  text-decoration: none;
  align-items: center;
  margin-bottom: 25px;
  color: #626262;
  width: fit-content;
  font-size: 15px;
}

.imp-links a img{
  width: 30px;
  margin-right: 15px;
}
.imp-links .profile-picture {
  width: 30px;
  border-radius: 50%;
  height: 35px;
}

.arrow-container .arrow {
  transform: rotate(90deg);
  width: 5px;
  position: relative;
  left: 40%;
  top: 12%;
}

.arrow-container{
  background: var(--arrow-container);
  display: block;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}


.imp-links {
  border-bottom: 1px solid var(--border);
}

.shortcut-links{
  margin-bottom: 100px;
}

.shortcut-links p {
  margin: 20px 0;
}

.shortcut-links a img {
  width: 40px;
  border-radius: 4px;
  margin-right: 15px;
}


.left-sidebar p, p a {
  text-decoration: none;
  color: #9a9a9a;
  font-size: 12px;
}
.left-sidebar p a:hover {text-decoration: underline;}



.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.sidebar-title a img{
  width: 15px;
  transform: rotate(90deg);
}

.story-gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.story {
  flex-basis: 18%;
  padding-top: 20%;
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  cursor: pointer;
}

.story img {
  position: absolute;
  width: 45px;
  height: 45px;
  border: 4px solid #1876f2;
  border-radius: 50%;
  top: 10px;
  left: 10px;
}

.story p{
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.create-story{
  background: #fff;
  width: 100%;
  height: 55px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.create-story p{color: #000; font-size: 14px;}

.story1 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(/images/profile-pic.png);
}

.story2 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(/images/status-2.jpg);
}

.story3 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(/images/status-3.jpg);
}

.story4 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(/images/status-4.jpg);
}

.story5 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(/images/status-5.jpg);
}

.story.story1 img {
  border: 0;
  top: unset;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
  width: 35px;
  height: 35px;
}

/*  */

.write-post-container {
  width: 100%;
  background: var(--bg-color);
  border-radius: 6px;
  padding: 20px;
  color: #626262;
  outline: 1px solid var(--border2);
  box-shadow: 5px 5px 10px var(--bg-color);
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.write-post {
  background: var(--search-box);
  width: 100%;
  display: flex;
  border-radius: 20px;
  align-items: center;
  padding: 0 10px;
}

.write-post input {
  width: 100%;
  background: transparent;
  outline: none;
  padding: 10px;
  border: 0;
  font-size: 15px;
}

hr{
  margin: 12px 0;
  border-color: #fff;
  border-bottom: 0;
}
.add-post-link {
  display: flex;
  margin-top: 10px;
  margin-left: 50px;
  text-align: center;
}

.add-post-link a {
  text-decoration: none;
  display: flex;
  font-size: 15px;
  font-weight: bold;
  color: #878787;
  align-items: center;
  padding-right: 10%;
}

.add-post-link a img {
  width: 25px;
  margin-right: 10px;
}

.create-room-container {
  width: 100%;
  display: flex;
  background: var(--bg-color);
  border-radius: 6px;
  padding: 5px;
  color: #626262;
  outline: 1px solid var(--border2);
  box-shadow: 5px 5px 10px var(--nav-color);
  margin-top: 12px;
}

.room-container {
  display: flex;
  margin-left: 10px;
  text-align: center;
  padding: 5px;
}

.room-container a {
  text-decoration: none;
  display: flex;
  font-size: 13px;
  font-weight: bold;
  color: #1876f2;
  align-items: center;
  border: 1.5px solid #1876f2;
  border-radius: 30px;
  padding: 2px 10px;
}

.room-container a img {
  width: 25px;
  margin-right: 5px;
}

.create-room-profile-pic img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.create-room-profile-pic {
  margin-left: 12px;
}

/*  */
.onlinee {
  position: relative;
}

.onlinee::after {
  content: "";
  background: #41db51;
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  right: 0;
}
/*  */

.forward-arrow-container .forward-arrow {
  width: 10px;
  position: relative;
  left: 40%;
  top: 30%;
}

.forward-arrow-container {
  background: var(--arrow-container);
  display: block;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-left: 12px;
}

.post-container {
  width: 100%;
  background: var(--bg-color);
  margin: 20px 0;
  padding: 20px;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid var(--border2);
}

.user-profile span {
  font-size: 15px;
  color: #626262;
  font-weight: 500;
}

.user-profile p{
  color: var(--story-text);
}

.Peniel img {
  width: 40px;
  height: 40px;
  outline: 3px solid #1876f2;
  border: 2px solid #fff;
  border-radius: 50%;
}

.Peniel a img {
  width: 15px;
  height: 15px;
  outline: none;
  border: none;
  transform: rotate(90deg);
  position: relative;
  left: 410px;
  bottom: 10px;
}

.Peniel .couple{
  width: 12px;
  height: 12px;
  outline: none;
  border: none;
}

.post-text {
  color: #9a9a9a;
  margin: 15px 0;
  font-size: 15px;
}

.post-text span {
  color: var(--story-text);
  font-weight: 500;
padding-bottom: 10px;
}

.post-text a {
  color: #1876f2;
  text-decoration: none;
  font-weight: 100;
  font-size: 15px;
}

.post-text img {
width: 15px;
justify-content: center;
align-items: center;
display: inline-flex;
}

.post-img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 5px;
}

.two {
  width: 49.5%;
  padding: 5px;
  display: inline-flex;
  border-radius: 5px;
  margin-bottom: 5px;
}

.post-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activity-icons{
  color: var(--story-text);
}

.activity-icons div img{
  width: 18px;
  margin-right: 10px;
}

.activity-icons div{
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
}

.post-profile-icon{
  display: flex;
  align-items: center;
}

.post-profile-icon img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.post-row a{
  color: #9a9a9a;
}

/* Right Sidebar */
.pages_and_profiles a {
  display: flex;
  text-decoration: none;
  align-items: center;
  margin-bottom: 5px;
  color: #626262;
  width: fit-content;
  font-size: 15px;
}
.pages_and_profiles{display: flex; justify-content: space-between; margin-bottom: 10px;}

.pages_and_profiles a img {
  position: relative;
  width: 14px;
  transform: rotate(90deg);
  right: 15px;

}

.pages_and_profiles h4 {
  font-weight: bold;
  color: #878787;
  font-size: 14px;
}

.Fohr-tuhn-Festus a img {
  width: 30px;
  margin-right: 15px;
}

.Fohr-tuhn-Festus .profile-picture {
  width: 30px;
  border-radius: 50%;
  height: 35px;
}

.Fohr-tuhn-Festus a{
  display: flex;
  text-decoration: none;
  align-items: center;
  margin-bottom: 10px;
  color: #626262;
  width: fit-content;
  font-size: 15px;
}
.Fohr-tuhn-Festus{
    border-bottom: 1px solid var(--border);
}

.notifications_and_promotion{
  margin-left: 10px;
}

.notifications_and_promotion a img {
  width: 20px;
  margin-right: 15px;
}

.notifications_and_promotion .profile-picture {
  width: 30px;
  border-radius: 50%;
  height: 35px;
}

.notifications_and_promotion a {
  display: flex;
  text-decoration: none;
  align-items: center;
  margin-bottom: 15px;
  color: #9a9a9a;
  font-weight: 600;
  width: fit-content;
  font-size: 13px;
}

.friend-request-container{border-bottom: 1px solid var(--border); margin-bottom: 10px;}

.friend-request a{
  position: relative;
  text-decoration: none;
  color: #1876f2;
  font-size: 14px;
  right: 15px;

}

.friend-request {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.friend-request a img {
  width: 15px;
  transform: rotate(90deg);
  
}

.friend-request h4 {
  font-weight: bold;
  color: #878787;
  font-size: 14px;
}

.requests{
  display: flex;
  align-items: center;
}

.left-side{
  margin-right: 10px;
}

.left-side img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.right-side{margin-top: 20px;}
.right-side div{display: flex;}
.right-side div h4{font-size: 14px; font-weight: 300;}
.right-side div span{font-size: 13px; color: #9a9a9a; padding-left: 60px;}

.overlap-img{
  margin-top: 5px;
  display: flex;
}

.overlap-img img{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  outline: 2px solid var(--border2);
}

.overlap-img .no1{
z-index: 1;
}

.overlap-img .no2{
position: relative;
right: 6px;
}

.overlap-img small{
  font-size: 13px;
  color: #9a9a9a;
}

.requests-btns{
  display: flex;
  align-items: center;
  justify-items: center;
  margin-top: 10px;
}

.requests-btns button{
  width: 100px;
  height: 30px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}

.requests-btns .btn1 {
  background-color: #1876f2;
  color: #fff;
}

.requests-btns .btn2 {
  background-color: #e2e4e4;
}

.birthdays-container{margin-bottom: 20px; border-bottom: 1px solid var(--border);}
.birthdays h4 {
  font-weight: bold;
  color: #878787;
  font-size: 14px;
  margin-bottom: 15px;
}
.bday{display: flex; margin-bottom: 10px;}

.birthday-left img{
  width: 30px;
  margin-right: 10px;
}
.birthday-right p {
  font-size: 13px;
  font-weight: bold;
  color: #626262;
  line-height: 1.3;
}
.birthday-right span {font-weight: 100;}

.contacts-container {
  margin-bottom: 15px;
  border-bottom: 1px solid var(--border);
}

.contacts h4 {
  font-weight: bold;
  color: #878787;
  font-size: 14px;
  margin-bottom: 10px;
  margin-right: 100px;
}

.contacts{display: flex; margin-bottom: 20px;}
.contacts ul {list-style: none;}
.contacts ul li{margin-left: 10px;}
.contacts ul li a img{width: 18px;}

.people-online{display: flex;}
.people-online .adjust{display: inline-flex;}
.people-online .users-img{
  margin-right: 10px;
}

.people-online .users-name p{
  align-items: center;
  font-size: 13px;
    font-weight: bold;
    color: #626262;
    margin-top: 10px;
}

.users a{
  display: flex;
  text-decoration: none;
  align-items: center;
  margin-bottom: 25px;
  color: #626262;
  width: fit-content;
  font-size: 13px;
  font-weight: bold;
}

.users .nav-profile-pic{margin-right: 10px;}

.online-pic {
  position: relative;
}

.online-pic::after {
  content: "";
  background: #41db51;
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 2px;
  right: 0;
}

.load-more-btn{
  display: block;
  margin: auto;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #9a9a9a;
  border-radius: 4px;
  color: #626262;
  background: transparent;
}

.settings-menu{
  position: absolute;
  width: 90%;
  max-width: 350px;
  background-color: var(--bg-color);
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden;
  top: 105%;
  right: 5%;
  max-height: 0;
  transition: max-height 0.3s;
}
.settings-menu-height{
  max-height: 450px;
}

.user-profile a{
  font-size: 12px;
  color: #1876f2;
  text-decoration: none;
}

.settings-menu-iner{
  padding: 20px;
}

.settings-menu hr{
  border: 0;
  height: 1px;
  background: #9a9a9a;
  margin: 15px 0;
}

.settings-links{
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.settings-links .settings-icon{
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.settings-links a{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  color: #626262;
  text-decoration: none;
}

#dark-btn{
  position: absolute;
  top: 20px;
  right: 20px;
  background: #ccc;
  width: 45px;
  border-radius: 50px;
  padding: 2px 3px;
  cursor: pointer;
  display: flex;
  transition: padding-left 0.5s, background 0.5s;
}

#dark-btn span{
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
}

#dark-btn.dark-btn-on{
  padding-left: 23px;
  background: #ccc;
}
